<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/style.css">
    <title>Todo List</title>
</head>
<body>
    <header class="nav-bar">
        <a class="route today-route" href="/">Today</a>
        <a class="route work-route" href="/work"><span>Work</span></a>
    </header>
    <div class="dateBox">
        <p><em class="dateText"><%=day%>, <%=month%> <%=date%></em></p>
    </div>

    <div class="whole-container">
        <%if(locals.taskArray){%>
            <%if(taskArray.length!=0){%>
                <%taskArray.forEach(function(value){%>
                    <div class="taskList">
                        <div class="addedTask">
                            <form id="check-box-form" action="/delete" method="post">
                                <%=value.task%>
                                <input class="cb" id="cb" type="checkbox" name="checkbox" value=<%=value._id%> onChange="this.form.submit()">
                            </form>
                        </div>
                    </div>
                <%})%>
            <%}%>
        <%}%>
        <form action="/" class="taskForm" method="post">
            <input class="textBox" name="task" type="text" placeholder="Add a New Task For Today">
            <input class="button" type="submit" value="+">
        </form>
    </div>
    <script src="/main.js"></script>
</body>
</html>